* {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100vh;
    margin: 0;
    display: flex;  
    flex-direction: column;
    align-items: center;
 }

#board {
    display: grid; 
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    background-color: lightblue;
    border-radius: 5vmin;

}

#messages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

#board > img {
    margin: 3vmin;
    background-color: white;
    border: 1vmin solid white;
    border-radius: 2vmin;
    width: 15vmin;
    height: 15vmin;
    object-fit: contain;
}

h1 {
    color: goldenrod;
}

main {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

#score {
    border: solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 5vmin;
    background-color: off;
}

h3 {
        
    margin-left: 5px;
    
}